# Enter Flake environment
use flake

# Add well known GPU library locations
export LD_LIBRARY_PATH="/usr/lib/wsl/lib:/run/opengl-drivers/lib:/run/opengl-drivers-32/lib${LD_LIBRARY_PATH:+:}$LD_LIBRARY_PATH"
