# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
    if has nvidia-smi; then
        use flake .#cuda
    else
        use flake
    fi
fi
